<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />

    <title>Battle Game!</title>
  </head>
  <body>
    <div id="app">
      <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>

      <h1 class="heading">Battle Game!</h1>
      <div class="container entity-health-info-container">
        <div
          class="entity-health-info"
          v-for="entity in entities"
          :key="entity.name"
        >
          <h2>{{ entity.name }}</h2>
          <div class="health-bar-container">
            <div
              class="health-bar-scale"
              :style="{ width: entity.health + '%' }"
            ></div>
          </div>
          <p class="entity-health-value">{{ entity.health }}%</p>
        </div>
      </div>

      <div class="container actions-container" v-if="!isGameFinished()">
        <template v-if="isGameState('running')">
          <button
            @click="triggerAction('attack', entities.enemy)"
            class="action-button attack-action"
          >
            Attack
          </button>
          <button
            @click="triggerAction('specialAttack', entities.enemy)"
            class="action-button special-attack-action"
          >
            Special Attack
          </button>
          <button
            @click="triggerAction('heal', entities.player)"
            class="action-button heal-action"
          >
            Heal
          </button>
          <button @click="stopGame()" class="action-button standard-action">
            Flee
          </button>
        </template>

        <template v-else-if="isGameState('stopped')">
          <button @click="startGame()" class="action-button standard-action">
            Start Game
          </button>
        </template>
      </div>

      <div v-else class="container game-result-container">
        <div v-if="isGameState('victory')">
          <h3>Victory!</h3>

          <button @click="stopGame()" class="action-button standard-action">
            Restart
          </button>
        </div>

        <div v-if="isGameState('defeat')">
          <h3>You lose!</h3>

          <button @click="stopGame()" class="action-button standard-action">
            Restart
          </button>
        </div>
      </div>

      <div class="container log-container" v-if="logs.length">
        <div
          v-for="log in logs"
          class="log-record"
          :key="log.id"
          :style="{backgroundColor: log.color}"
        >
          {{ log.message }}
        </div>
      </div>
    </div>

    <script src="index.js"></script>
  </body>
</html>
